<section class="slab slab--off-white">
  <div class="grid">
    <div class="grid__item width-full">
      <h1>Convict Vote - Help People Restore Their Voter Rights/h1>

      <a href="GEN%2050C.pdf" onclick="trackOutboundLink('FloridaVoterRegistration.pdf'); return gtag_report_conversion('FloridaVoterRegistration.pdf')"><button class="button button--cta button--large with-padding-med">Download the PDF</button></a>

      <%= link_to "Submit my application", "/upload", class: "button button--cta button--large with-padding-med" %>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ante a tincidunt facilisis. Vivamus commodo erat est, in aliquam metus condimentum ut. Sed vitae fringilla nisi. Integer vel nunc nibh. In hac habitasse platea dictumst. Phasellus suscipit, lacus ac hendrerit maximus, leo risus pharetra nisl, in feugiat ligula ligula in risus.</p>
    </div>
  </div>
</section>

<section class="slab slab--white is-tablet-hidden">
  <div class="grid steps">
    <div class="grid__item width-one-third">
      <%= render 'step1' %>
    </div>
    <div class="grid__item width-one-third">
      <%= render 'step2' %>
    </div>
    <div class="grid__item width-one-third">
      <%= render 'step3' %>
    </div>
  </div>
</section>

<section class="slab slab--white is-desktop-hidden">
  <div class="vertical-steps text--centered">
    <div class="vertical-steps__step">
      <%= render 'step1' %>
    </div>
    <div class="vertical-steps__step">
      <%= render 'step2' %>
    </div>
    <div class="vertical-steps__step">
      <%= render 'step3' %>
    </div>
  </div>
</section>

<section  class="slab">
  <div class="grid">
    <h2>What can I apply for?</h2>
    <div>
      <div class="grid__item width-one-half">
        <h3>For Convicts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ante a tincidunt facilisis. Vivamus commodo erat est, in aliquam metus condimentum ut. Sed vitae fringilla nisi. Integer vel nunc nibh. In hac habitasse platea dictumst. Phasellus suscipit, lacus ac hendrerit maximus, leo risus pharetra nisl, in feugiat ligula ligula in risus.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>For Sexual Offenders?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ante a tincidunt facilisis. Vivamus commodo erat est, in aliquam metus condimentum ut. Sed vitae fringilla nisi. Integer vel nunc nibh. In hac habitasse platea dictumst. Phasellus suscipit, lacus ac hendrerit maximus, leo risus pharetra nisl, in feugiat ligula ligula in risus.</p>

      </div>
    </div>

    <div>
      <div class="grid__item width-one-half">
        <h3>For Others.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ante a tincidunt facilisis. Vivamus commodo erat est, in aliquam metus condimentum ut. Sed vitae fringilla nisi. Integer vel nunc nibh. In hac habitasse platea dictumst. Phasellus suscipit, lacus ac hendrerit maximus, leo risus pharetra nisl, in feugiat ligula ligula in risus..</p>
      </div>
    

    <div>
      <div class="grid__item width-one-half">
        <h3>What if my charge came outside of Florida?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ante a tincidunt facilisis. Vivamus commodo erat est, in aliquam metus condimentum ut. Sed vitae fringilla nisi. Integer vel nunc nibh. In hac habitasse platea dictumst. Phasellus suscipit, lacus ac hendrerit maximus, leo risus pharetra nisl, in feugiat ligula ligula in risus.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>Can any person with a brush in with the law register to vote?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ante a tincidunt facilisis. Vivamus commodo erat est, in aliquam metus condimentum ut. Sed vitae fringilla nisi. Integer vel nunc nibh. In hac habitasse platea dictumst. Phasellus suscipit, lacus ac hendrerit maximus, leo risus pharetra nisl, in feugiat ligula ligula in risus.</p>
      </div>
    </div>

    </div>
  </div>
</section>
