<section class="slab slab--off-white">
  <div class="grid">
    <div class="grid__item width-full">
      <h1>Convict Vote - A Sample App for Helping Convicted Felons Restore Their Voter Rights</h1>

      <a href="GEN%2050C.pdf" onclick="trackOutboundLink('FloridaVoterRegistration.pdf'); return gtag_report_conversion('FloridaVoterRegistration.pdf')"><button class="button button--cta button--large with-padding-med">Download the PDF</button></a>

      <%= link_to "Submit my application", "/upload", class: "button button--cta button--large with-padding-med" %>

      <p>Download a voter registration form. Once you’ve completed your application, print it, sign it, and come back here to submit it to the Voter Registration Office for processing. This site was created by <a href="https://www.codeformiami.com">Code for Miami</a> to make it possible for Miamians to vote.</p>
    </div>
  </div>
</section>

<section class="slab slab--white is-tablet-hidden">
  <div class="grid steps">
    <div class="grid__item width-one-third">
      <%= render 'step1' %>
    </div>
    <div class="grid__item width-one-third">
      <%= render 'step2' %>
    </div>
    <div class="grid__item width-one-third">
      <%= render 'step3' %>
    </div>
  </div>
</section>

<section class="slab slab--white is-desktop-hidden">
  <div class="vertical-steps text--centered">
    <div class="vertical-steps__step">
      <%= render 'step1' %>
    </div>
    <div class="vertical-steps__step">
      <%= render 'step2' %>
    </div>
    <div class="vertical-steps__step">
      <%= render 'step3' %>
    </div>
  </div>
</section>

<section  class="slab">
  <div class="grid">
    <h2>What can I apply for?</h2>
    <div>
      <div class="grid__item width-one-half">
        <h3>For Convicts</h3>
        <p>Have you had a brush in with the law?</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>For Sexual Offenders?</h3>
        <p>Sexual Offenders are not allowed to register to vote</p>

      </div>
    </div>

    <div>
      <div class="grid__item width-one-half">
        <h3>For Others.</h3>
        <p>Please review your voter rights.</p>
      </div>
    

    <div>
      <div class="grid__item width-one-half">
        <h3>What if my charge came outside of Florida?</h3>
        <p>We are focused on people in the Miami area.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>Can any person with a brush in with the law register to vote?</h3>
        <p>No, special cases exist especially in the case where you owe the state.</p>
      </div>
    </div>

    </div>
  </div>
</section>
