<section class="slab slab--off-white">
  <div class="grid">
    <div class="grid__item width-full">
      <h1>Apply as a Convict to restore your Voter Rights in fLorida</h1>

      <a href="GEN%2050C.pdf" onclick="trackOutboundLink('FloridaVoterRegistration.pdf'); return gtag_report_conversion('FloridaVoterRegistration.pdf')"><button class="button button--cta button--large with-padding-med">Download the PDF</button></a>

      <%= link_to "Submit my application", "/upload", class: "button button--cta button--large with-padding-med" %>

      <p>Download an application for benefits that you can fill in using your phone or computer. Once you’ve completed your application, print it, sign it, and come back here to submit it to the Voter Registration Office for processing. This site was created by <a href="https://www.codeformiami.com">Code for Miami</a> to make it possible for Floridians to vote.</p>
    </div>
  </div>
</section>

<section class="slab slab--white is-tablet-hidden">
  <div class="grid steps">
    <div class="grid__item width-one-third">
      <%= render 'step1' %>
    </div>
    <div class="grid__item width-one-third">
      <%= render 'step2' %>
    </div>
    <div class="grid__item width-one-third">
      <%= render 'step3' %>
    </div>
  </div>
</section>

<section class="slab slab--white is-desktop-hidden">
  <div class="vertical-steps text--centered">
    <div class="vertical-steps__step">
      <%= render 'step1' %>
    </div>
    <div class="vertical-steps__step">
      <%= render 'step2' %>
    </div>
    <div class="vertical-steps__step">
      <%= render 'step3' %>
    </div>
  </div>
</section>

<section  class="slab">
  <div class="grid">
    <h2>What can I apply for?</h2>
    <div>
      <div class="grid__item width-one-half">
        <h3>Convicts</h3>
        <p>Are you a former Convict you may have had your voter rights restored.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>Sex Offenders?</h3>
        <p>Sorry you cannot vote.</p>

      </div>
    </div>

    <div>
      <div class="grid__item width-one-half">
        <h3>Had a drug charge in the past?</h3>
        <p>You can vote.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>Don't know if you can vote due to something on your record?</h3>
        <p>You may be able to vote. Please look online to see if your eligible.</p>
      </div>
    </div>

    <div>
      <div class="grid__item width-one-half">
        <h3>What if my charge came outside of Florida?</h3>
        <p>This is only for Convicts who had a charge in Florida.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>What if I haven't paid off what I owe to government?</h3>
        <p>You need to pay that before you can vote.</p>
      </div>
    </div>

    </div>
  </div>
</section>